# netplan_template.j2
network:
  version: 2
  renderer: NetworkManager
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      dhcp4: false
      addresses:
        - {{ static_ip }}
      routes:
        - to: default
          via: {{ gateway_ip }}  # Gateway from facts
      nameservers:
        addresses:
          - {{ dns_ip }}  # Primary DNS
          - 192.168.4.1
          - 9.9.9.9
