[Unit]
Description=AutoPilot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /var/training/code/service/autopilot_service.py
WorkingDirectory=/var/training/code
Restart=always
User=orangepi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
