[Unit]
Description=PWM Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/lwf/devices/pwm_controller.py
WorkingDirectory=/home/pi/lwf
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
