[Unit]
Description=Streamlit Touch UI App
After=network.target mqtt.service
Requires=mqtt.service

[Service]
ExecStart=/usr/local/bin/streamlit run /root/touch_ui_app.py
WorkingDirectory=/root
User=root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
